@import "../../css-config/mixins.scss";

.main-header {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  background-color: #212121a0;
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  @include md {
    // Styling for desktop (>768px)
    padding: 0 40px;
  }
  .header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    @include md {
      height: 60px;
    }
    .right {
      list-style-type: none;
      display: none;
      gap: 25px;
      @include md {
        display: flex;
      }
      li {
        font-family: "Mooli", sans-serif;
        font-size: 20px;
        font-weight: normal;
        // font-weight: 600;
        // text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
