.map-container {
  width: 100%;
  height: 100%;
  .popup {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 4px;
    font-size: 24px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
